# {{ ansible_managed }}
# See {{ spacewalk_role_git_repo }}/blob/master/templates/spacewalk_local.te.j2

module spacewalk_local 1.1;

require {
    type dhcpd_t;
    type postgresql_t;
    type virt_qemu_ga_t;
    type unconfined_service_t;
    type initrc_t;
    type tuned_t;
    type osa_dispatcher_t;
    type var_run_t;
    type cobblerd_t;
    type systemd_logind_t;
    type httpd_t;
    type policykit_t;
    type inetd_t;
    type postfix_pickup_t;
    type crond_t;
    type system_cronjob_t;
    type getty_t;
    type lvm_t;
    type unconfined_t;
    type tomcat_t;
    type init_t;
    type auditd_t;
    type postfix_showq_t;
    type syslogd_t;
    type NetworkManager_t;
    type certmonger_t;
    type system_dbusd_t;
    type irqbalance_t;
    type jabberd_t;
    type jabberd_router_t;
    type kernel_t;
    type firewalld_t;
    type gssproxy_t;
    type chronyd_t;
    type gssd_t;
    type postfix_master_t;
    type sssd_t;
    type udev_t;
    type sshd_t;
    type nrpe_t;
    type postfix_qmgr_t;
    type oddjob_t;
    type rhnsd_t;
    class dir { getattr search };
    class file { getattr open read };
}

#============= tomcat_t ==============
allow tomcat_t NetworkManager_t:dir { getattr search };
allow tomcat_t NetworkManager_t:file { open read };
allow tomcat_t auditd_t:dir { getattr search };
allow tomcat_t auditd_t:file { open read };
allow tomcat_t certmonger_t:dir { getattr search };
allow tomcat_t certmonger_t:file { open read };
allow tomcat_t chronyd_t:dir { getattr search };
allow tomcat_t chronyd_t:file { open read };
allow tomcat_t cobblerd_t:dir { getattr search };
allow tomcat_t cobblerd_t:file { open read };
allow tomcat_t crond_t:dir { getattr search };
allow tomcat_t crond_t:file { open read };
allow tomcat_t dhcpd_t:dir { getattr search };
allow tomcat_t dhcpd_t:file { open read };
allow tomcat_t firewalld_t:dir { getattr search };
allow tomcat_t firewalld_t:file { open read };
allow tomcat_t getty_t:dir { getattr search };
allow tomcat_t getty_t:file { open read };
allow tomcat_t gssd_t:dir { getattr search };
allow tomcat_t gssd_t:file { open read };
allow tomcat_t gssproxy_t:dir { getattr search };
allow tomcat_t gssproxy_t:file { open read };
allow tomcat_t httpd_t:dir { getattr search };
allow tomcat_t httpd_t:file { open read };
allow tomcat_t inetd_t:dir { getattr search };
allow tomcat_t inetd_t:file { open read };
allow tomcat_t init_t:file { open read };
allow tomcat_t initrc_t:dir { getattr search };
allow tomcat_t initrc_t:file { open read };
allow tomcat_t irqbalance_t:dir { getattr search };
allow tomcat_t irqbalance_t:file { open read };
allow tomcat_t jabberd_router_t:dir { getattr search };
allow tomcat_t jabberd_router_t:file { open read };
allow tomcat_t jabberd_t:dir { getattr search };
allow tomcat_t jabberd_t:file { open read };
allow tomcat_t kernel_t:dir { getattr search };
allow tomcat_t kernel_t:file { open read };
allow tomcat_t lvm_t:dir { getattr search };
allow tomcat_t lvm_t:file { open read };
allow tomcat_t nrpe_t:dir { getattr search };
allow tomcat_t nrpe_t:file { open read };
allow tomcat_t oddjob_t:dir { getattr search };
allow tomcat_t oddjob_t:file { open read };
allow tomcat_t osa_dispatcher_t:dir { getattr search };
allow tomcat_t osa_dispatcher_t:file { open read };
allow tomcat_t policykit_t:dir { getattr search };
allow tomcat_t policykit_t:file { open read };
allow tomcat_t postfix_master_t:dir { getattr search };
allow tomcat_t postfix_master_t:file { open read };
allow tomcat_t postfix_pickup_t:dir { getattr search };
allow tomcat_t postfix_pickup_t:file { open read };
allow tomcat_t postfix_qmgr_t:dir { getattr search };
allow tomcat_t postfix_qmgr_t:file { open read };
allow tomcat_t postfix_showq_t:dir { getattr search };
allow tomcat_t postfix_showq_t:file { open read };
allow tomcat_t postgresql_t:dir { getattr search };
allow tomcat_t postgresql_t:file { open read };
allow tomcat_t rhnsd_t:dir { getattr search };
allow tomcat_t rhnsd_t:file { open read };
allow tomcat_t sshd_t:dir { getattr search };
allow tomcat_t sshd_t:file { open read };
allow tomcat_t sssd_t:dir { getattr search };
allow tomcat_t sssd_t:file { open read };
allow tomcat_t syslogd_t:dir { getattr search };
allow tomcat_t syslogd_t:file { open read };
allow tomcat_t system_dbusd_t:dir { getattr search };
allow tomcat_t system_dbusd_t:file { open read };
allow tomcat_t systemd_logind_t:dir { getattr search };
allow tomcat_t systemd_logind_t:file { open read };
allow tomcat_t tuned_t:dir { getattr search };
allow tomcat_t tuned_t:file { open read };
allow tomcat_t udev_t:dir { getattr search };
allow tomcat_t udev_t:file { open read };
allow tomcat_t unconfined_service_t:dir { getattr search };
allow tomcat_t unconfined_service_t:file { open read };
allow tomcat_t unconfined_t:dir { getattr search };
allow tomcat_t unconfined_t:file { open read };
allow tomcat_t var_run_t:file { getattr open read };
allow tomcat_t virt_qemu_ga_t:dir { getattr search };
allow tomcat_t virt_qemu_ga_t:file { open read };
allow tomcat_t system_cronjob_t:dir getattr;
