# {{ ansible_managed }}
# See {{ spacewalk_role_git_repo }}/blob/master/templates/spacewalk-answer-file.j2

{% if spacewalk_answers is defined %}
{% for item in spacewalk_answers %}
{{ item }}
{% endfor %}
{% endif %}
